*

# misc
!.editorconfig
!.gitignore

# project files
!Cargo.toml
!Cargo.lock
!LICENSE
!README.md

# source tree
!src/
!src/**/*
!tests/
!tests/**/*

# macro crate
!chainrule-macros/
!chainrule-macros/**/*
